<!DOCTYPE html>
<html>
	<head>
		<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
	</head>
	<body>
		<h1>Thank you for booking with Odin-Flight-Booker, <%= @passenger.name %></h1>
		<p>
			You have successfully booked your flight. Enjoy
			your trip!
		</p>
		<p>
			Feel free to book another flight any time with: <%= @url %>.
		</p>
	</body>
</html>