<h1>Booking</h1>
<%= "Flight: #{@booking.flight.id}" %><br>
<%=	"From: #{@booking.flight.from_airport_id} to #{@booking.flight.to_airport_id}" %><br>
<%= "Number of passengers: #{@booking.passengers.count}" %>